/* Depends on length of ticker text */
html { max-width: 1280px; margin: 0 auto;}

@font-face {
    font-family: 'Tamil039';
    src: url('https://www.rtbs.in/font/Tamil039.woff2') format('woff2'),
        url('https://www.rtbs.in/font/Tamil039.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  background: #c9a050;
  important ;font-family: 'Tamil039'; font-weight: bold; font-style: normal;
  color: #ffffff;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: flex-end;
  height: 100vh;
  overflow:hidden;
  margin: 0;
  text-transform: uppercase;
  vertical-align: middle;
  justify-content:center;
}

.main {
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.cur-event {
  background: #2a366a;
  background-image: url('https://host.rtbs.in/rtcs/dark-blue.gif');
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 75%;
  height: 70px;
  margin-top: 600px;
}

.cur-event .top, .cur-event .glow, .cur-event .bttm {
  position: absolute;
  right: 0;
}
.cur-event .top {
  background: radial-gradient(#fff, transparent 60%);
  top: 0;
  height: 5px;
  width: 95%;
}

.ticker {
  background: #2a366a;
  background-image: url('https://host.rtbs.in/rtcs/dark-blue.gif');
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.ticker .stock-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 50px;
}

.breaking_news {
  float:right;
  width:100%;
  font-family: "Agdasima", sans-serif;
  font-size: 40px;
  margin-top: 1px;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  letter-spacing: 2px;
}

.label {
  float:right;
  padding:0.4px 7px 8px 10px;
  background:#c60203;
  color:#FFF;
  font-weight: bold;
  text-transform: uppercase;
  
}

/* Ripple magic */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple::after {
  animation: ripple 1.5s ease-out  infinite;
}

.textrss {
    opacity: .9;
    position: absolute;
    z-index: 1;
    margin: 4px 3px;
}

.ticker-top {
  background: #2a366a;
  background-image: url('https://host.rtbs.in/rtcs/dark-blue.gif');
  font-weight: 600;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 75%;
  height: 60px;
  z-index: -4;
}

.rtcs {
    display: inline-block;
    vertical-align: top;
    width: 1280px;
    height: 720px;
    margin-right: 0px;
    position: absolute;
    z-index: -6;
}

.rtcs-ad {
    display: inline-block;
    width: 330px;
    height: 680px;
    padding-right: 958px;
    margin-top: -8px;
    position: absolute;
    z-index: 99;  
}

.rtcs-streambg {
    background: #2a366a;
    background-image: url('https://host.rtbs.in/media/rtcslive-bg.jpg');
    display: inline-block;
    width: 960px;
    height: 540px;
    margin-bottom: 60px;
    margin-right: 0px;
    position: absolute;
    vertical-align: middle;
    z-index: -10;
}

.rtcs-stream {
    display: inline-block;
    width: 640px;
    height: 540px;
    margin-bottom: 60px;
    margin-right: 320px;
    position: absolute;
    vertical-align: middle;
    z-index: -5;
}

.rtcs-anchor {
    display: inline-block;
    width: 320px;
    height: 540px;
    margin-bottom: 60px;
    margin-right: 0px;
    position: absolute;
    vertical-align: middle;
    z-index: -5;
}

.rtcs-rstream {
    display: inline-block;
    width: 960px;
    height: 540px;
    margin-bottom: 60px;
    margin-right: 0px;
    position: absolute;
    vertical-align: middle;
    z-index: -5;
}

.rtcs-lt {
    display: inline-block;
    vertical-align: top;
    width: 1280px;
    height: 720px;
    margin-top: 0px;
    position: absolute;
    z-index: 2;
}

.pulse-logo {
    display: inline-block;
    z-index: 5;
    width: 45px;
    height: 45px;
    padding-right: 330px;
    margin-bottom: 660px;
    position: absolute;  
}

.watermark {
  opacity: .3;
  position: absolute;
  width: 100px;
  height: 50px;
  box-sizing: border-box;
  padding: 0px 0px ;
  margin-right: 855px;
  margin-top: 180px;
  line-height: 1.5;
  text-align: right;
  text-transform:none;
  letter-spacing: 2px;
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
  h1 {text-shadow: 0 0 .3em #000;}
}

.location {
  opacity: .9;
  position: absolute;
  z-index: 4;
  margin-top: -515px;
  margin-right: 735px;
  text-shadow: 0 0 .3em #000;
}

.custom-logo {
  display: inline-block;
  opacity: .9;
  position: absolute;
  margin-left: -315px;
  margin-top: 30px;
}

.flip-text {
  width: 600px
  position: absolute;
  letter-spacing: 1.5px;
  font-family: "Agdasima", sans-serif;
  text-transform: none;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  opacity: .9;
  margin-left: -285px;
  margin-top: 2px;
}

@keyframes vertical {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  38% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* PRELOADER CSS */
.page-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0%;
  background: #c9a050;
  z-index: 100;
}
.page-loader .txt {
  color: #666;
  text-align: center;
  top: 15%;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 5em;
  font-weight: bold;
  line-height: 1.5;
}
/* SPINNER ANIMATION */
.spinner {
  
  z-index: 0;
  position: relative;
  top: 39%;
  left: 0px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
